.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e1e;
}

.circle {
    background-color: #2c2c2c;
    border-radius: 50%;
    width: 60vmin;
    height: 60vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s ease-in-out, scaleUp 1.5s infinite alternate;
}

.welcome-message {
    color: #fff;
    text-align: center;
    animation: slideIn 0.5s ease-in-out;
}

.tagline {
    color: #ccc;
    margin-top: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.role-button {
    background: #0077ff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
}
.role1-button {
    background: white;
    color:#0077ff ;
   
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background 0.3s, transform 0.5s, box-shadow 0.3s;
}

.icon {
    font-size: 1.2em;
}

.role-button:hover {
    background: linear-gradient(90deg, #005bb5, #0077ff);
    transform: translateY(-4px);
    box-shadow: 0 6px 20px rgba(0, 119, 255, 0.5);
}

.role-button:active {
    transform: translateY(0);
    box-shadow: 0 3px 10px rgba(0, 119, 255, 0.3);
}

.role1-button:hover {
    background: linear-gradient(90deg, white, white);
    transform: translateY(-4px);
    box-shadow: 0 6px 20px rgba(0, 119, 255, 0.5);
}

.role1-button:active {
    transform: translateY(0);
    box-shadow: 0 3px 10px rgba(0, 119, 255, 0.3);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes scaleUp {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

@media (max-width: 768px) {
    .circle {
        width: 80vmin;
        height: 80vmin;
    }

    .role-button {
        width: 100%;
    }
}




